.sec {
  width: 100%;
  padding: 1rem;
}
.sec_logo {
  display: flex;
  gap: 1rem;
}
.react_logo {
  width: 227px;
  height: 185px;

  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.react_logo img {
  width: 65px;
  margin-bottom: 1rem;
}
.react_logo span {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 19px;
}

.sec_content {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}

.home_image {
  position: relative;
  flex: 1;
}
#image2 {
  width: 500px;
  position: absolute;
  right: 0;
  top: 0;
}
#image3 {
  width: 350px;
  position: absolute;
  left: 0;
  top: 270px;
  z-index: 5;
}
